<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
  		<h1>Blog log</h1>
  		<nav>
  			<ul>
  				<li><a href="/">Home</a></li>
  				<li><a href="/posts/new">New Post</a></li>
  			</ul>
  		</nav>
  	</header>
    <%= yield %>
  </body>
</html>
